<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
	  <meta charset="utf-8">
	  <title>Control con voz</title>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>

	<body> 

	<div class="container">
	  
	</div>

	<!-- <script> -->
		<!-- function anterior() { -->
			<!-- $('#myCarousel').carousel('prev'); -->
			
		<!-- } -->
		<!-- function siguiente() { -->
			<!-- $('#myCarousel').carousel('next'); -->
		<!-- } -->
	<!-- </script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
	<script src="{% static 'js/voiceCommand.js' %}"></script>
	
	</body>

</html>